{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="display-4 mb-4">
        Josh Bright
        <small class="d-block text-muted">Software Developer</small>
    </h2>
    <div class="row mb-4">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <img src="{% static 'img/690x400.png' %}" class="img-fluid rounded" alt="">
        </div>
        <div class="col-12 col-lg-6">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero. Mauris pharetra quis nulla eget fermentum. In nec dapibus nisl, sit amet convallis nisl. Duis non urna et dui scelerisque volutpat vel sit amet lectus. Praesent vel malesuada erat. Nulla eu accumsan tellus.</p>
            <p>Sed vehicula, urna non cursus cursus, arcu urna eleifend erat, eget egestas nulla mauris et elit. Mauris et augue sed odio tristique blandit. Ut consequat, massa id interdum convallis, nisi nisi rhoncus erat, blandit laoreet mauris ipsum interdum felis. Aenean tincidunt lacus lectus, sed dapibus diam ultricies sed. Mauris auctor tempor elit, blandit efficitur orci. Duis quam lacus, commodo at odio sit amet, maximus laoreet nulla. Nullam eget tortor ac lacus vehicula ultricies. Mauris mattis quam sit amet lectus egestas, interdum ullamcorper massa vestibulum. Ut in tincidunt ligula. Nunc tortor diam, eleifend quis varius rhoncus, commodo id nisi. In in malesuada nunc.</p>
        </div>
        <h3>Featured Projects</h3>
        <div class="row mb-4">
            <div class="col-12 col-md-6 col-xl-3 mb-4">
                <a href="{% url 'home-project' 'django-todo' %}">
                    <figure class="figure">
                        <img src="{% static 'img/todo-demo.png' %}" class="figure-img img-fluid img-thumbnail" alt="Portfolio Item - Django Todo">
                        <figcaption class="figure-caption">
                            Django Todo
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-4">
                <a href="#portfolio-item" class="">
                    <figure class="figure">
                        <img src="{% static 'img/510x400.png' %}" class="figure-img img-fluid img-thumbnail" alt="Portfolio Item Heading">
                        <figcaption class="figure-caption">
                            Portfolio Item Heading
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-4">
                <a href="#portfolio-item" class="">
                    <figure class="figure">
                        <img src="{% static 'img/510x400.png' %}" class="figure-img img-fluid img-thumbnail" alt="Portfolio Item Heading">
                        <figcaption class="figure-caption">
                            Portfolio Item Heading
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-4">
                <a href="#portfolio-item" class="">
                    <figure class="figure">
                        <img src="{% static 'img/510x400.png' %}" class="figure-img img-fluid img-thumbnail" alt="Portfolio Item Heading">
                        <figcaption class="figure-caption">
                            Portfolio Item Heading
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
    <h3>Testimonials</h3>
    <div class="row mb-4">
        <div class="col-12 col-lg-4">
            <figure>
                <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Firstname Lastname
                </figcaption>
            </figure>
        </div>
        <div class="col-12 col-lg-4">
            <figure>
                <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Firstname Lastname
                </figcaption>
            </figure>
        </div>
        <div class="col-12 col-lg-4">
            <figure>
                <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Firstname Lastname
                </figcaption>
            </figure>
        </div>
    </div>
    <h3>Contact Me</h3>
    <form class="mb-4" action=".">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" type="text" class="form-control" placeholder="Enter your name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="email" class="form-control" placeholder="Enter your email">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea id="message" class="form-control" rows="4" placeholder="Enter your message"></textarea>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Send Message</button>
    </form>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
{% endblock %}
