{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card mb-4">
                <h2 class="card-header text-center">
                    Josh Bright
                </h2>
                <img src="{% static 'img/mountains.jpg' %}" class="w-100" alt="Coeur d'Alene River">
                <div class="card-body">
                    <p class="card-text lead">
                        I am a software developer with experience in Python and Javascript.  I've been building websites for over 20 years, with a big focus on building internal company tools.</p>
                    </p>
                    <p class="card-text">
                        I've had experience with maintainting newspaper equipment, as well as automating various processes, collecting data for reporting, designing multi-system processes, as well as a solid understanding of troubleshooting complex systems.
                    </p>
                    <figure class="w-75 mx-auto text-center">
                        <blockquote class="blockquote">
                            <p>Django is great!</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">Josh Bright</figcaption>
                    </figure>
                </div>
            </div>
            <div class="card mb-3">
                <h2 class="card-header text-center">
                    Work Experience
                </h2>
                <div class="card-body">
                    <div class="d-flex align-items-start mb-2">
                        <i class="fab fa-black-tie fa-fw fa-3x text-primary me-2"></i>
                        <div class="flex-grow-1">
                            <h3 class="h4 mb-1">Senior Software Developer</h3>
                            <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                <h5 class="mb-0"><a class="text-decoration-none" href="#">Hagadone Technologies</a></h5>
                                <small class="text-uppercase fw-bold text-muted"><time datetime="2020-11">November 2020</time> &ndash; Current</small>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">
                        In my current position, I am helping build a new version of the Django based system I had built earlier, which is now going to be include essentially everything needed to run a newspaper.  
                    </p>
                    <hr>
                    
                    <div class="d-flex align-items-start mb-2">
                        <i class="fab fa-black-tie fa-fw fa-3x text-primary me-2"></i>
                        <div class="flex-grow-1">
                            <h3 class="h4 mb-1">Software Developer</h3>
                            <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                <h5 class="mb-0"><a class="text-decoration-none" href="#">Hagadone Media and Creative</a></h5>
                                <small class="text-uppercase fw-bold text-muted"><time datetime="2019-01">January 2019?</time> &ndash; <time datetime="2020-11">November 2020</time></small>
                            </div>
                        </div>
                    </div>
                    
                    <p class="card-text">
                        Towards the end of my Prepress Manager job, I had developed a Django based system to manage production workflow.  Moving to Hagadone Media and Creative allowed me to focus on the system I had built to add more capabilities.  This system handles managing ad materials that graphic designers use to build display ads for various publications for the newspaper, as well as laying out ad stacks that would then get exported to an editorial system.
                    </p>
                    <hr>
                    <div class="collapse" id="collapse-work">
                        <div class="d-flex align-items-start mb-2">
                            <i class="fab fa-black-tie fa-fw fa-3x text-primary me-2"></i>
                            <div class="flex-grow-1">
                                <h3 class="h4 mb-1">Prepress Manager</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0"><a class="text-decoration-none" href="#">Coeur d'Alene Press</a></h5>
                                    <small class="text-uppercase fw-bold text-muted"><time datetime="2004-11">November 2004</time> &ndash; <time datetime="2019-01">January 2019?</time></small>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                          As a Prepress Manager, I oversaw the Prepress department at the Coeur d'Alene Press.  Our department was responsible for taking the digital files from the advertising and editorial departments, and prepare them to be put onto aluminum plates that would then go on the printing press.  I was responsible for maintaining and troubleshooting the various plate machines, along with developing various scripts and programs that would help collect data and help the machines communicate.  I was also involved in a couple software upgrades where our entire systems were upgraded to different versions, so this required understanding how to map data between different systems.
                        </p>
                        <hr>
                        <div class="d-flex align-items-start mb-2">
                            <i class="fab fa-black-tie fa-fw fa-3x text-primary me-2"></i>
                            <div class="flex-grow-1">
                                <h3 class="h4 mb-1">Support Technician</h3>
                                <div class="d-sm-flex justify-content-sm-between align-items-sm-baseline">
                                    <h5 class="mb-0"><a class="text-decoration-none" href="#">Software Spectrum</a></h5>
                                    <small class="text-uppercase fw-bold text-muted"><time datetime="1997-11">November 1997</time> &ndash; <time datetime="2002-01">January 2002?</time></small>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                          At Software Spectrum, I developed a solid grasp of troubleshooting systems that has been an extremely valuble skill throughout my career.  At the start, I helped customers fix Windows 95 and Windows 98 issues over the telephone.  Later on, I moved to the Microsoft Games & Hardware tech support division where I was able to fix some more interesting issues.
						</p>
						<p class="card-text">
						  Towards the end of my time here, I moved to a Tier 2 Escalation Engineer where I took cases on that were too difficult to deal with on the initial support call or if the front-line technician was not able to help the customer.
                        </p>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#collapse-work" aria-controls="collapse-work" aria-expanded="false">more info</button>    
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card mb-3">
                <h2 class="card-header text-center">
                    Contact Info
                </h2>
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="fa-layers fa-fw fa-2x me-3">
                            <i class="fas fa-circle text-primary"></i>
                            <i class="fas fa-male text-white" data-fa-transform="shrink-5"></i>
                        </div>
                        <div class="flex-grow-1">
                            Josh Bright
                            <hr>
                        </div>
                    </div>
                    <div class="d-flex align-items-start">
                        <div class="fa-layers fa-fw fa-2x me-3">
                            <i class="fas fa-circle text-primary"></i>
                            <i class="fas fa-envelope text-white" data-fa-transform="shrink-5"></i>
                        </div>
                        <ul class="flex-grow-1 list-unstyled">
                            <li><a href="mailto:josh@joshbright.com">josh@joshbright.com</a></li>
                            <li><i class="fab fa-fw fa-twitter me-2"></i> <a href="https://twitter.com/joshbright/">@joshbright</a></li>
                            <li><i class="fab fa-fw fa-linkedin me-2"></i> <a href="#">LinkedIn</a></li>
                            <hr>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="card">
                <h2 class="card-header text-center">
                    Skills
                </h2>
                <div class="card-body">
                    <div class="mb-3">
                        <h3 class="h5 mb-3">Coding Languages</h3>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-html5"></i> HTML5</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-css3"></i> CSS3</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-js-square"></i> Javascript</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary" style="width: 85%" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-python"></i> Python</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary" style="width: 85%" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h3 class="h5 mb-3">Frameworks</h3>
                        <h4 class="h6 text-muted"><i class="far fa-fw fa-newspaper"></i> Django</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-vuejs"></i> VueJS</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-bootstrap"></i> Bootstrap</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h3 class="h5 mb-3">General</h3>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-windows"></i> Windows</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary w-75" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-linux"></i> Linux</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-apple"></i> Mac</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary" style="width: 85%" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="h6 text-muted"><i class="fab fa-fw fa-python"></i> Troubleshooting</h4>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-secondary w-100" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
{% endblock %}
