{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="display-4 mb-4">
        Josh Bright
        <small class="d-block text-muted">Software Developer</small>
    </h2>
    <div class="row mb-4">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <img src="{% static 'img/690x400.png' %}" class="img-fluid rounded" alt="">
        </div>
        <div class="col-12 col-lg-6">
            <h3>About</h3>
            <p>I live in Northern Idaho and love to tinker with computers.  I've been fascinated by them since I was a kid, and my curiosity about them hasn't gone down.  I mainly program in Python and Javascript.  Most of my work is web related, where I use the Django web framework.  On the front end I use Bootstrap and vanilla Javascript to build fun and exiting projects.  Below you should find some examples of stuff I like to work on.</p>
        </div>
        <h3 class="mt-3">Featured Projects</h3>
        <div class="row mb-4">
            <div class="col-12 col-md-6 col-xl-3 mb-4">
                <a href="{% url 'home-project' 'django-todo' %}">
                    <figure class="figure">
                        <img src="{% static 'img/todo-demo.png' %}" class="figure-img img-fluid img-thumbnail" alt="Portfolio Item - Django Todo">
                        <figcaption class="figure-caption">
                            Django Todo
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-4">
                <a href="{% url 'home-project' 'mini-rpg' %}">
                    <figure class="figure">
                        <img src="{% static 'img/mini-rpg.png' %}" class="figure-img img-fluid img-thumbnail" alt="Portfolio Item Heading">
                        <figcaption class="figure-caption">
                            MiniRPG (title pending)
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-4">
                <a href="#portfolio-item" class="">
                    <figure class="figure">
                        <img src="{% static 'img/510x400.png' %}" class="figure-img img-fluid img-thumbnail" alt="Portfolio Item Heading">
                        <figcaption class="figure-caption">
                            Portfolio Item Heading
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-12 col-md-6 col-xl-3 mb-4">
                <a href="#portfolio-item" class="">
                    <figure class="figure">
                        <img src="{% static 'img/510x400.png' %}" class="figure-img img-fluid img-thumbnail" alt="Portfolio Item Heading">
                        <figcaption class="figure-caption">
                            Portfolio Item Heading
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
{% endblock %}
