{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Project: Django-Todo</h1>
        </div>
    </div>
    <div class="row page">
        <div class="col-sm-6">
            <h3>Description</h3>
            <p>Django Todo is a Todo application built with Django and Vue.  API requests are handled with Django Rest Framework.</p>
            <p><a href="https://todo-demo.joshbright.com/">Site</a></p>
            <p><a href="https://github.com/majormunky/DjangoTodo/">Github</a></p>
        </div>
    </div>    
</div>

{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
{% endblock %}