{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Project: MiniRPG</h1>
        </div>
    </div>
    <div class="row page">
        <div class="col-sm-6">
            <h3>Description</h3>
            <p>MiniRPG is a game written in the GodotEngine framework.  It's pretty early at this point, but the aim is a mix of old-school RPG's on the NES/SNES and more modern RPG/MMORPGs.</p>
            <p><a href="https://majormunky.itch.io/minirpg/">Game</a> - Note: This currently requires a desktop computer to play, as we use the keyboard and mouse to control the game.</p>
            <p><a href="https://github.com/majormunky/MiniRPG/">Github</a></p>
        </div>
    </div>    
</div>

{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
{% endblock %}