{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Project: MiniRPG</h1>
        </div>
    </div>
    <div class="row page">
        <div class="col-sm-6">
            <h3>Description</h3>
            <p>MiniRPG is a game written in the GodotEngine framework.  It's pretty early at this point, but the aim is a mix of old-school RPG's on the NES/SNES and more modern RPG/MMORPGs.</p>

            <div class="mb-3">
                <h4 class="h3">Features</h4>
                <ul>
                    <li>Saving and Loading Games</li>
                    <li>NPC Dialog</li>
                    <li>Changing Maps</li>
                    <li>Multiple Characters</li>
                </ul>
                <div class="fst-italic">
                    Note: This game isn't really much of a game right now, its more a prototype to figure out how to implement different game mechanics.
                </div>
            </div>
            
            <div class="mb-3">
                <h5 class="h3">Controls</h5>
                <div><label class="fw-bold pe-2">Up:</label>w</div>
                <div><label class="fw-bold pe-2">Down:</label>s</div>
                <div><label class="fw-bold pe-2">Left:</label>a</div>
                <div><label class="fw-bold pe-2">Right:</label>d</div>
                <div><label class="fw-bold pe-2">Menu:</label>Tab</div>
                <div><label class="fw-bold pe-2">Inspect:</label>f</div>
            </div>

            <hr>
            <h6 class="h3">Links</h6>
            <p><a href="https://majormunky.itch.io/minirpg/">Game</a> - Note: This currently requires a desktop computer to play, as we use the keyboard and mouse to control the game.</p>
            <p><a href="https://github.com/majormunky/MiniRPG/">Github</a></p>
        </div>
    </div>    
</div>

{% endblock %}

{% block page_scripts %}
{% endblock %}

{% block page_styles %}
{% endblock %}