{% extends "dashboard-base.html" %}
{% load static %}

{% block page_name %}New Blog Post{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
	<div class="card mb-3">
	  <div class="card-header bg-primary text-white fw-bold">
	 	Create Post
	  </div>
	  <div class="card-body">
	 	<div class="mb-3">
		  <label class="form-label">Title</label>
		  <input type="text" class="form-control" id="blog-title" name="blog-title" />
		</div>
		<div class="mb-3">
		  <label class="form-label">Content</label>
		  <div id="editor">
		  </div>
		</div>
	  </div>
	  <div class="card-footer">
	 	<button id="save-button" class="btn btn-outline-primary btn-sm">Save</button>
	  </div>
	</div>
  </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{% static 'js/ajax.js' %}"></script>
<script>
  const csrfToken = "{{csrf_token}}";
  
  let toolbarOptions = [
	  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
	  ['blockquote', 'code-block'],
	  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
	  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
	  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
	  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
	  [{ 'font': [] }],
	  [{ 'align': [] }],
	  ['clean']
  ];
  
  let quill = new Quill('#editor', {
      theme: 'snow',
	  formats: [
		  "bold",
		  "italic",
		  "underline",
		  "code",
		  "header",
		  "strike",
		  "blockquote",
		  "code-block",
		  "size",
		  "font",
		  "align",
	  ],
	  modules: {
		  toolbar: toolbarOptions,
	  }
  });

  const save_button = document.getElementById("save-button");
  save_button.addEventListener("click", async (event) => {
	  const data = {
		  title: document.getElementById("blog-title").value,
		  content: quill.getContents()
	  }
	  const saveUrl = ".";
	  const result = await postData(saveUrl, csrfToken, data);
	  console.log(result);
  });
</script>
{% endblock %}

{% block page_styles %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<style>
  #editor {
	  min-height: 500px;
  }
</style>
{% endblock %}
